html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  max-height: 1000000px;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  background: #fff;
  font: 16px/1.6 "Muli", sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  margin: 0 0 20px;
  color: inherit;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

p {
  margin: 0 0 15px;
}

a {
  color: #f64b4b;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #f41a1a;
}

ul,
.teams-block .image .overlay,
.contact-block .contact-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#header {
  padding: 15px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  background: #fff;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s linear;
}
#header .navbar {
  padding: 0;
  justify-content: space-between;
  background: none !important;
}
#header .navbar-brand {
  color: #f64b4b;
  text-transform: uppercase;
  font-weight: 600;
  height: auto;
  padding: 0;
  font-size: 22px;
  line-height: 1.6;
}
#header .navbar-collapse {
  flex-grow: 0;
}
.hero-block {
  margin: 65px 0 0;
}
.hero-block .carousel-item:before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn.btn-primary {
  background: #f64b4b;
  border-color: #f64b4b;
  padding: 13px 35px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background 0.3s linear, color 0.3s linear;
  -webkit-transition: background 0.3s linear, color 0.3s linear;
}
.btn.btn-primary .fas {
  margin: 0 0 0 6px;
  font-size: 15px;
}
.hero-block .carousel-caption {
  left: 7%;
  right: 7%;
}
.hero-block .carousel-caption {
  left: 25%;
  right: 25%;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  bottom: 50%;
}
.hero-block p {
  margin: 0 0 30px;
}

.btn.btn-primary:focus,
.btn.btn-primary:hover {
  background: #fff;
  border-color: #f64b4b;
  color: #f64b4b;
}
.block {
  padding: 70px 0;
  border-bottom: 1px solid #e6e6e6;
}
.title-holder {
  text-align: center;
  margin: 0 0 40px;
}
.title-holder h2 {
  margin: 0 0 5px;
  text-transform: uppercase;
}
.title-holder .subtitle {
  color: #999999;
}
.title-holder .subtitle:before {
  content: "-";
  margin: 0 5px 0 0;
}
.title-holder .subtitle:after {
  content: "-";
  margin: 0 5px 0 0;
}
.about-block .progress-block {
  margin: 0 0 25px;
}
.about-block .progress-block h4 {
  text-transform: uppercase;
  margin: 0 0 5px;
  font-size: 16px;
}
.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
}
.about-block .progress-bar {
  background-color: #f64b4b;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}
.services-block .icon {
  width: 60px;
  height: 60px;
  font-size: 26px;
  color: #f64b4b;
  margin: 0 0 20px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  text-align: center;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
.services-block .icon .fas {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  line-height: 2;
}
.services-block .row {
  margin: 0 -15px 50px;
}

.services-block .row:last-child {
  margin: 0 -15px;
}

.services-block .holder {
  transition: all 0.3s linear;
}

.services-block .holder:hover {
  margin-top: -5px;
}

.services-block .holder:hover .icon {
  box-shadow: inset 0 0 0 30px #f64b4b;
  color: #fff;
  font-size: 18px;
}

/* work block */

.works-block .portfoliolist > div {
  padding: 15px;
  overflow: hidden;
}
.works-block .portfoliolist > div img {
  position: relative;
  top: 0;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.works-block .portfoliolist > div .label {
  position: absolute;
  height: 60px;
  bottom: -60px;
  left: 0;
  right: 0;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  color: #fff;
}
.works-block .portfoliolist > div h3 {
  margin: 0 0 5px;
  color: #f64b4b;
  font-size: 16px;
}
.works-block .portfoliolist > div p {
  margin: 0;
  font-size: 12px;
}
.works-block .portfoliolist > div:hover .label {
  bottom: 0;
}
.works-block .portfoliolist > div:hover img {
  transform: scale(1.1);
}
.works-block .portfoliolist .portfolio-wrapper {
  overflow: hidden;
  position: relative !important;
  background: #666;
  cursor: pointer;
  height: auto;
  width: 100%;
}
.works-block .portfoliolist .label {
  font-size: 100%;
}
.works-block .pagination {
  justify-content: center;
  margin: 25px 0 0;
}

.works-block .pagination .page-item.active .page-link {
  background: #f64b4b;
  border-color: #f64b4b;
}

.works-block .pagination .page-item .page-link {
  padding: 8px 15px 10px;
}
.pagination > li.active a {
  background: #f64b4b;
  border-color: #f64b4b;
}

.pagination > li.active a:hover {
  background: #f64b4b;
  border-color: #f64b4b;
}

.pagination > li > a {
  color: #f64b4b;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  padding: 6px 15px 12px;
}

.pagination > li > a:hover {
  background: #f64b4b;
  color: #fff;
  border-color: #f64b4b;
}

.teams-block div[class*="col"] {
  margin: 0 0 50px;
}

.teams-block .row:last-child {
  margin: 0 -15px;
}
.teams-block .image .overlay {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s linear;
  -webkit-transition: all 0.2s linear;
  vertical-align: middle;
  background: rgba(246, 75, 75, 0.9);
  opacity: 0;
}
.teams-block .image {
  margin: 0 0 20px;
  position: relative;
  overflow: hidden;
}

.teams-block .image img {
  width: 100%;
  height: auto;
}
.teams-block [class*="col-"]:hover .overlay {
  top: 0;
  opacity: 1;
}
.socials {
  display: table;
  height: 100%;
  width: 100%;
}

.socials ul {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.socials li {
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
}

.socials a {
  width: 35px;
  height: 35px;
  background: #fff;
  color: #f64b4b;
  border-radius: 50%;
  display: block;
  text-align: center;
  padding: 2px;
  transition: background 0.3s linear, color 0.3s linear;
  -webkit-transition: background 0.3s linear, color 0.3s linear;
}

.socials a:hover {
  background: #f64b4b;
  color: #fff;
}

.socials .fab {
  line-height: 2;
}
@media only screen and (max-width: 767px) {
  .hero-block .carousel-caption {
    display: none;
  }
  .hero-block .carousel-control {
    width: 15%;
  }
  #header .navbar-collapse .navbar-nav {
    margin: 0;
  }
  .block {
    padding: 40px 0 10px;
  }
}
@media only screen and (max-width: 1023px) {
  body {
    font-size: 15px;
    line-height: 24px;
  }

  h1 {
    font-size: 34px;
    margin: 0 0 15px;
  }

  h2 {
    font-size: 26px;
    margin: 0 0 15px;
  }
  .hero-block .carousel-caption {
    left: 7%;
    right: 7%;
  }
  .hero-block .carousel-control {
    width: 5%;
  }
}
