html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  max-height: 1000000px;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  background: #fff;
  font: 16px/1.6 "Muli", sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  margin: 0 0 20px;
  color: inherit;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

p {
  margin: 0 0 15px;
}

a {
  color: #f64b4b;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #f41a1a;
}

ul,
.teams-block .image .overlay,
.contact-block .contact-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#header {
  padding: 15px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  background: #fff;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s linear;
}
#header .navbar {
  padding: 0;
  justify-content: space-between;
  background: none !important;
}
#header .navbar-brand {
  color: #f64b4b;
  text-transform: uppercase;
  font-weight: 600;
  height: auto;
  padding: 0;
  font-size: 22px;
  line-height: 1.6;
}
#header {
  padding: 10px 0;
}
#header .navbar-collapse {
  flex-grow: 0;
}
.hero-block {
  margin: 65px 0 0;
}
.hero-block .carousel-item:before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.btn.btn-primary {
  padding: 9px 35px;
}
.btn.btn-primary {
  background: #f64b4b;
  border-color: #f64b4b;
  padding: 13px 35px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background 0.3s linear, color 0.3s linear;
  -webkit-transition: background 0.3s linear, color 0.3s linear;
}
.btn.btn-primary .fas {
  margin: 0 0 0 6px;
  font-size: 15px;
}
.btn.btn-primary {
  padding: 9px 35px;
}
.hero-block .carousel-caption {
  left: 7%;
  right: 7%;
}
.hero-block .carousel-caption {
  left: 25%;
  right: 25%;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  bottom: 50%;
}
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  background: #fff;
  border-color: #f64b4b;
  color: #f64b4b;
}
.block {
  padding: 70px 0;
  border-bottom: 1px solid #e6e6e6;
}
.title-holder {
  text-align: center;
  margin: 0 0 40px;
}
.title-holder h2 {
  margin: 0 0 5px;
  text-transform: uppercase;
}
.title-holder .subtitle {
  color: #999999;
}
.title-holder .subtitle:before {
  content: "-";
  margin: 0 5px 0 0;
}
.about-block .progress-block {
  margin: 0 0 25px;
}
.about-block .progress-block h4 {
  text-transform: uppercase;
  margin: 0 0 5px;
  font-size: 16px;
}
.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
}

@media only screen and (max-width: 767px) {
  .hero-block .carousel-caption {
    display: none;
  }
  .hero-block .carousel-control {
    width: 15%;
  }
  #header .navbar-collapse .navbar-nav {
    margin: 0;
  }
  .block {
    padding: 40px 0 10px;
  }
}
@media only screen and (max-width: 1023px) {
  .hero-block .carousel-caption {
    left: 7%;
    right: 7%;
  }
  .hero-block .carousel-control {
    width: 5%;
  }
}
